/*=============== IMPORTT FONT =================*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); /*Concert One*/

@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap'); /*Dangrek*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/*Poppins*/

@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');/*Candal*/

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); /*Anton*/

.container {
    padding: 50px 20px;
    text-align: center;
}

.content-footer {
    margin-top: 50px;
    color: #FBF8EF;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-top: 30px;
    color: #FBF8EF;
}

.social-icons .youtube {
    color: #FBF8EF;
}
.social-icons .x {
    color: #FBF8EF;
}
.social-icons .instagram {
    color: #FBF8EF;
}
.social-icons .discord {
    color: #FBF8EF;
}
.social-icons .github {
    color: #FBF8EF;
}
.social-icons .linkedin {
    color: #FBF8EF;
}


.social-icons .youtube:hover {
    color: #c4302b;
}
.social-icons .x:hover {
    color: black;
}
.social-icons .instagram:hover {
    color: #c32aa3	;
}
.social-icons .discord:hover {
    color: #7289DA	;
}
.social-icons .github:hover {
    box-shadow: white;
    color: black;
}
.social-icons .spotify:hover {
    color: #1ED760;
}
.social-icons .linkedin:hover {
    color: #0077B5;
}
.social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    margin: 0 15px;
    transition: color 0.7s linear;
}

.social-icons a:hover {
    color: #6CA664;
}

.contact-section {
    margin: 40px 0;
}

.contact-section h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 60px;
}

.contact-section a {
    font-size: 20px;
    color: #FD6F00;
    text-decoration: none;
    font-weight: bold;
    
}

.contact-section p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.contact-section a:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}



.footer-credits {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    align-items: center;
}

.footer-credits .credits {
    margin-top: 10px;
    color: #6CA664;
    font-weight: bold;
}

.credits  a {
    color: #6CA664;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.credits a:hover {
    color: #c32aa3;
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        margin-top: 10px;
    }

    .social-icons {
        flex-wrap: wrap;
    }

    .social-icons a {
        margin: 10px;
    }
}